*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-color: violet;
    background-blend-mode: multiply;
    background-size: cover;
}

.whole-container{
    margin: 30px 20%;
    background-color: rgb(80, 110, 245);
    opacity: .8;
    color: #fff;
}

.main-text{
    text-align: center;
}

.container{
    padding: 30px;
}

.box{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 20px;
    position: relative;
}


.top-text{
    position: absolute;
    top: -10px;
    background-color: rgb(80, 110, 245);
}

.b-text{
    position: absolute;
    top: -10px;
    background-color: rgb(80, 110, 245);
}

button{
    width: 100%;
    height: 50px;
}





