div{
    text-align: center;
}

@media only screen and (max-width: 1600px){
    body{
        background: rgb(224, 97, 118);
    }

    .erase-1{
        display: none;
    }

    .cont-1{
        display: flex;
        justify-content: center;
        margin: 300px;
    }

}
@media only screen and (max-width:1200px){
    body{
        background: red;
    }

    .erase-2{
        display:none;
    }

    .cont-2{
        display: flex;
        justify-content: center;
        margin: 300px;
    }
}

@media only screen and (max-width: 992px){
    body{
        background: pink;
    }

    .erase-3{
        display: none;
    }

    .cont-3{
        display: flex;
        justify-content: center;
        margin: 300px;
    }   
}

@media only screen and (max-width: 768px){
    body{
        background: aqua;
    }

    .erase-4{
        display: none;
    }
    
    .cont-4{
        display: flex;
        justify-content: center;
        margin: 300px;
    }
}

@media only screen and (max-width: 576px){
    body{
        background: yellow;
    }

    .erase-5{
        display: none;
    }
    
    .cont-5{
        display: flex;
        justify-content: center;
        margin: 300px;
    }
}

@media only screen and (max-width: 576px){
    body{
        background: green;
    }

    .erase-6{
        display: none;
    }

    .cont-6{
        display: flex;
        justify-content: center;
        margin: 300px;
    }
}

